
<div class="difference_section_wholesale__container">
    <h2>{{ section.settings.title_difference_wholesale }}</h2>
    <div class="description_section_text">{{ section.settings.paragraph }}</div>
    <img src="{{ section.settings.signature_image | image_url: width: 175  }}" alt="{{ section.settings.signature_image.alt }}">


    <div class="content_button_apply">

        <div class="button_content__wholesale">
            <a href="{{ section.settings.button_link_apply_now }}" class="apply_btn_wholesale_request">Register Now</a>
            <a href="{{ section.settings.button_link_login }}" class="login_wholesale_request">Log In</a>
        </div>
        <p class="test_last_section">{{ section.settings.text_last }}</p>
        <p class="pressional_register_dental"><strong>Professionals</strong> (651) 734-5587</p>
    </div>
    
 
</div>


    

<style>
.content_button_apply{
max-width: 526px;
font-size: 18px;

}
.content_button_apply p{
    margin: 30px 0 0 !important;
}
.apply_btn_wholesale_request{
background: #F66C02;
color: #fff;
font-size: 17px;
font-weight: 500;
display: block;
text-align: center;
padding: 10px;
width: 100%
}
.login_wholesale_request{
background: #1D2433;
color: #fff;
font-size: 17px;
font-weight: 500;
display: block;
text-align: center;
padding: 10px;
width: 100%

}
.button_content__wholesale{
display: flex;
gap: 15px;
}
.difference_section_wholesale__container{
padding: 42px 120px 40px;
text-align: left;
}
.difference_section_wholesale__container h2{
color: #2D3852;
font-size: clamp(26px, 4vw, 40px);
margin-bottom: 0;
}
.description_section_text strong{
font-size: 22px;
font-weight: 500;
}
.description_section_text{
max-width: 100%;
font-size: clamp(16px, 4vw, 18px);
}
.description_section_text h4{
font-size: clamp(18px, 3vw, 22px);
font-weight: 500;
margin: 0 0 -15px;
}
.difference_section_wholesale__container img{
margin: 40px 0 25px;
}
.form_wholesale .globo-form-control.layout-2-column, .form_wholesale .globo-form-control.layout-1-column{
margin-bottom: 0.5rem !important;
}
.aplly_now_btn_wholesale{
background: #2D3852;
color: #fff;
font-weight: 600;
max-width: 170px;
display: block;
text-align: center;
padding: 10px 25px; 
width: 100%; 
cursor: pointer;
}
.login_btn_wholesale{
background: #8CD3CF;
color: #fff;
font-weight: 600;
max-width: 170px;
display: block;
text-align: center;
padding: 10px 25px;
width: 100%;
cursor: pointer;
}
.button_container_wholesale{
display: flex;
gap: 20px;
flex-wrap: wrap;
}

.text_under_btn{
font-size: clamp(14px, 4vw, 16px);
max-width: 385px;
}

.form_wholessale_request{
display: inline-block !important;
max-width: 600px;
position: relative;
width: 100%;
margin: 0 !important;
}
.form_wholessale_request .globo-form-app.default-layout{
margin: 0;
}

.form_wholessale_request .footer{
position: absolute;
bottom: 9%;
margin: auto;
right: 0;
height: 31px;
margin: 0 !important
}
.product_wholesale_card{
max-width: calc(33.33% - 50px );
width: 100%;
margin: auto;
text-align: center;
display: flex;
justify-content: center;
}
.form_wholessale_request .footer button{
height: 42px;
width: 130px !important;
color: #fff !important;
font-weight: 600 !important;
text-transform: uppercase !important;
font-size: 16px !important;

}
.form_wholessale_request .globo-form-control input{
border: 1px solid #f1f1f1 !important;
background: #fff !important;
text-align: left;
}
.apply_wholesale_request{
background: #FF6020;
color: #fff;
font-weight: 600;
padding: 11px;
display: block;
max-width: 165px;
width: 100%;
text-align: center;
margin-bottom: 35px;
margin: auto;
}
.difference_section_wholesale__container .pressional_register_dental{
text-align: left;
margin: -25px 0 0 !important;
}
.form_wholesale p{
color: #FF6020;
font-weight: 700;
font-size: 24px;
margin: 0 0 20px;
}
.form_wholesale{
display: none;
}
.show_form_wholesale{
display: block !important;
max-width: 463px;
margin: 50px auto 0;
text-align: center;
}

.form_wholessale_request .globo-form-app .message.success{
background: none;
border: none !important;
box-shadow: none;
padding: 0;
max-width: 85%;
margin: auto;
}
.form_wholessale_request .globo-form-app .message.success p{
padding: 0 !important;
}
.form_wholessale_request .globo-form-app .message.success h3{
background: #F5FEFF;
padding: 10px;
font-weight: 700;
font-size: 24px;
}
.form_wholessale_request .globo-form-control.layout-1-column:last-child{
width: 70% !important;
}
.form_wholessale_request  .globo-form-app .message.success p{
font-size: 12px;
color: #000;
padding: 10px;
font-weight: 400
}
.text_under_last{
max-width: 610px;
margin: auto;
font-size: clamp(14px, 4vw, 16px);
line-height: inherit;
text-align: center;
}
.collection_wholesale_page h2{
margin-bottom: 50px;
}
@media screen and (max-width: 520px) {
    .apply_wholesale_request{
        margin: 0 auto 35px;
    }
    .form_wholessale_request .footer{
        right: -3% !important;
    }
    .button_content__wholesale{
        flex-wrap: wrap;
    }
    .form_wholessale_request .footer button{
        width: 110px !important;
    }
    .form_wholesale p{
        font-size: 18px;
    }
    .form_wholessale_request  .globo-form-app .message.success{
        max-width: 100% !important;
    }
    .content_button_apply{
        text-align: left;
    }
    .description_section_text strong{
        font-size: 18px;
    }
    .difference_section_wholesale__container h2{
        margin-bottom: 0;
    }
    
}
@media screen and (max-width: 1000px) {
    .difference_section_wholesale__container{
        padding: 30px 27px;
        text-align: center;
    }
    .container_collection__wholesale{
        row-gap: 30px !important;
    }
    .login_btn_wholesale, .aplly_now_btn_wholesale{
        max-width: 150px;
    }
    .button_container_wholesale{
        justify-content: center;
    }
    .product_wholesale_card{
        max-width:initial;
        width: auto !important;
        margin: auto;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}

</style>

{% schema %}
{
   "name": "Difference wholesale",
   "settings" : [
   {
    "type": "text",
    "id": "title_difference_wholesale",
    "label": "Title Page",
    "default": "Wholesale"
   },
   {
    "type": "richtext",
    "id": "paragraph",
    "label": "Paragraph"
   },
   {
    "type": "image_picker",
    "id": "signature_image",
    "label": "Signature"
   },
   {
    "type": "url",
    "id": "button_link_apply_now",
    "label": "Apply Now Link"
  },
  {
    "type": "url",
    "id": "button_link_login",
    "label": "Login Link"
  },
  {
    "type": "richtext",
    "id": "text_last",
    "label": "Text"
   }
],
   "presets": [
    {
        "name": "Difference wholesale"
    }
   ]
}
{% endschema %}