<section class="section__padding section--features-with-icons">
            <div class="container--ss">
                <div class="row--ss">
                    <div class="col--ss text--center">
                        <h3 class="section__heading">
                            In addition to remineralizing tooth enamel, 10% Nano Hydroxyapatite has additional benefits
                            that fluoride does not offer:
                        </h3>
                    </div>
                    <div class="col--ss">
                        <div class="features__wrapper">
                            <div class="feature__item">
                                <div class="feature__icon">
                                    <img src="{{ 'icon--swallow-safe.png' | asset_img_url: 'master' }}" alt=""
                                        srcset="{{ 'icon--swallow-safe.png' | asset_img_url: 'master' }} 1x, {{ 'icon--swallow-safe--2x.png' | asset_img_url: 'master' }} 2x">
                                </div>
                                <h5 class="feature__title">
                                    Safe if Swallowed
                                </h5>
                                <h6 class="feature__note">
                                    (however, we do not
                                    recommend swallowing)
                                </h6>
                                <p class="feature__desc">
                                    No warning labels required like fluoride
                                    in toothpaste
                                </p>
                            </div>
                            <div class="feature__item">
                                <div class="feature__icon">
                                  <img src="{{ 'icon--teeth--smooth.png' | asset_img_url: 'master' }}" alt=""
                                        srcset="{{ 'icon--teeth--smooth.png' | asset_img_url: 'master' }} 1x, {{ 'icon--teeth--smooth--2x.png' | asset_img_url: 'master' }} 2x">
                                </div>
                                <h5 class="feature__title">
                                    Smooths teeth creating a glossier and whiter smile.
                                </h5>
                                <p class="feature__desc">
                                    Nano Hydroxyapatite fills pore and micro lesions in the enamel creating a smoother
                                    and whiter surface for a brighter-looking smile
                                </p>
                            </div>
                            <div class="feature__item">
                                <div class="feature__icon">
                                  <img src="{{ 'icon--teeth--sensitive.png' | asset_img_url: 'master' }}" alt=""
                                        srcset="{{ 'icon--teeth--sensitive.png' | asset_img_url: 'master' }} 1x, {{ 'icon--teeth--sensitive--2x.png' | asset_img_url: 'master' }} 2x">
                                </div>
                                <h5 class="feature__title">
                                    Protects teeth <br> from sensitivity
                                </h5>
                                <p class="feature__desc">
                                    nHAp fills the pore of exposed dentin and other weak surfaces of the enamel
                                    protecting the teeth from sensitivity.
                                </p>
                            </div>
                            <div class="feature__item">
                                <div class="feature__icon">
                                  <img src="{{ 'icon--teeth--clean.png' | asset_img_url: 'master' }}" alt=""
                                        srcset="{{ 'icon--teeth--clean.png' | asset_img_url: 'master' }} 1x, {{ 'icon--teeth--clean--2x.png' | asset_img_url: 'master' }} 2x">
                                </div>
                                <h5 class="feature__title">
                                    Cleaner <br> teeth
                                </h5>
                                <p class="feature__desc">
                                    With brushing, nHAp adheres to the plaque making it easier to remove plaque and food
                                    for the teeth.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row--ss">
                  <a href="/collections/wholesale" class="button button--primary" style="background-color: #df477f; background: #df477f; margin: 50px auto 0 auto">Shop Now</a>
                </div>
            </div>
        </section>

{% schema %}
  {
    "name": "Features with icons",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}