{{ 'section-new-reviews.css' | asset_url | stylesheet_tag }}

{% style %}
  .section-{{ section.id }} {
      background-color: {{ section.settings.bg_color }};
  }
{% endstyle %}

<div class="section-{{ section.id }}">
  <div class="new-reviews">
    {% if section.settings.top_title != blank %}
      <h3 class="new-reviews__top-title">{{ section.settings.top_title }}</h3>
    {% endif %}
    {% if section.settings.title != blank %}
      <h2 class="new-reviews__title">{{ section.settings.title }}</h2>
    {% endif %}
    <div class="new-reviews__reviews">
      {% for block in section.blocks %}
        {% if block.type == 'review' %}
          <div class="new-reviews__content-container">
            {% if block.settings.photo != blank %}
              <img
                src="{{ block.settings.photo | img_url: 'master' }}"
                alt="{{ block.settings.photo.alt }}"
                loading="lazy"
              >
            {% endif %}
            <div class="new-reviews__content-wrapper">
              {% if block.settings.content != blank %}
                <p class="new-reivews__content">{{ block.settings.content }}</p>
              {% endif %}
              {% if block.settings.author != blank %}
                <p class="new-reviews__author">– {{ block.settings.author }}</p>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<script type="module" defer>
  $('.new-reviews__reviews').slick({
    arrows: false,
    dots: true,
    adaptiveHeight: true
  });
</script>

{% schema %}
{
  "name": "New reviews",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#EEFDFF"
    },
    {
      "type": "text",
      "id": "top_title",
      "label": "Top title"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "image_picker",
          "id": "photo",
          "label": "Photo"
        },
        {
          "type": "text",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "New reviews"
    }
  ]
}
{% endschema %}
